

body {
	background-image: url('https://wallpapercave.com/wp/Z75gczo.jpg');
	background-position: fixed; 
	background-repeat: no-repeat; 
	background-size: cover;
	font-family: 'Cormorant Garamond', serif;
}



.hidden{
	visibility: hidden;
}

.visible {
	display: flex;
}

.buttons {
	align-items: center;
	margin: 0 auto;
	font-family: 'Cormorant Garamond', serif;
	display: block;
	width: 80%;
	justify-items: center;
	
}

button {
	width: 150px;
	background-color: lightblue;
	opacity: .8;
	color: red;
	border: 5px solid white;
	border-radius: 5px;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

#tagline {
	display: block;
	margin-left: 60%;
	color: red;
	width: 33%;
}

#iceKing {
	float: right;
	padding: 1px, 1px, 1px, 1px;
	width: 90px;
	margin-top: 130px;
	margin-left: 70px;
	margin-right: 120px;

}

#bmo {
	padding: 1px, 1px, 1px, 1px;
	width: 90px;
	margin-left: 250px;
	margin-top: 250px;

}


#finn {
	padding: 1px, 1px, 1px, 1px;
	float: right;
	width: 110px;
	margin-top: 50px;

}

#jake {
	padding: 1px, 1px, 1px, 1px;
	width: 150px;
	margin-left: 50px;
}



#princessBubblegum {
	float: right;
	padding: 1px, 1px, 1px, 1px;
	width: 180px;
	margin-top: 120px;
	margin-right: 40px;

}

#jamesBaxter {
	float: left;
	padding: 1px, 1px, 1px, 1px;
	margin-left: 20px;
	margin-top: 60px;
	width: 200px;
}

#characters {
	
}